* {
    box-sizing: border-box;
}
body {
	margin:0;
	font-family: arial, sans-serif;
}
#login {
	border: 1px solid #ddd;
	background-color:#ddd;
    margin: 50px;
    padding-bottom: 195px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 5px 5px 5px #aaaaaa;
}
#signup {
    border: 1px solid #ddd;
    background-color:#ddd;
    margin: 50px;
    box-shadow: 5px 5px 5px #aaaaaa;
    padding: 30px;

}
/* Website grid layout set up */
.column {
	float:left;
}
.size10 {
  	width: 10%;
}
.size17{
	width: 17%;
}
.size50 {
  	width: 50%;
}
.size75 {
	width: 75%;
}
.size90 {
	width: 90%;
}
.rightfloat {
	float:right;
}
#header:after {
	content: "";
    display: table;
    clear: both;
}